body{
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7dvh;
}

#spawn-container{
    position: relative;
    height: 93dvh;
    width: 100vw;
}

nav{
    width: 95vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

li.button-list{
    border: solid 2px black;
    padding: 1.1% 2%;
    border-radius: 4px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    color: black;

    cursor: pointer;
}

hr{
    padding: 0 50vw;
    margin: 0;
}

.shape{
    width: 80px;
    aspect-ratio: 1/1;
    position: absolute;
    transform-origin: center center;
}

.circle{
    border-radius: 999px;
    background-color: rgb(128, 232, 209);
}

.triangle {
    background: rgb(207, 146, 146);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.square{
    background-color: rgb(167, 227, 247);
}

#sole.light, #luna.dark{
    display: block;
}

.dark{
    color: white;
}

.light{
    color: black;
}

#sole.dark, #luna.light{
    display: none;
}

.hidden{
    display: none !important;
}

.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    pointer-events: none;
}
